.places-grid__card {
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-column-gap: 48px;
    grid-template-areas: "title url" "img paragraph" ;
    box-sizing: border-box;
    
}
@media screen and (max-width: 1024px){

  .places-grid__card {
    grid-template-columns: 440px 1fr;
        }
  } 

@media screen and (max-width: 768px){

      .places-grid__card{
        grid-template-columns: 370px 1fr;
        grid-column-gap: 28px;
        grid-template-areas: "title link" "img" "paragraph" ;
        
        }
    }

    @media screen and (max-width: 320px) {
          .places-grid__card {
            grid-template-columns: 1fr;
            grid-column-gap: 48px;
            grid-template-areas: "title" "img" "paragraph" ;
            }
    }