@import url(./__link/header__link.css);
@import url(./__link/_lang/header__link_lang_ru.css);
@import url(./__links/header__links.css);
@import url(./__logo/header__logo.css);
.header {
    max-width: 1154px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
}

@media screen and (max-width: 425px) {
    .header {
      padding-top: 16px;
    }
}