.page__area-photo-grid{
box-sizing: border-box;
padding: 0;
}
@media screen and (max-width: 1280px){
    .page__area-photo-grid {
    padding: 30px 48px 0;
    }
    }
    @media screen and (max-width: 768px){
        .page__area-photo-grid    {
        padding: 80px 24px 0;
        }
        }
    @media screen and (max-width: 320px){
        .page__area-photo-grid     {
            padding: 64px 16px  0;
            }
            }