.places-grid__paragraph {
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    margin: 0;
    width: 100%;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    }
    
    @media screen and (max-width: 768px) {
            .places-grid__paragraph{
              grid-area: paragraph;
              max-width: 352px;
              font-size: 16px;
            }
      
        } 
        @media screen and (max-width: 320px) {
              .places-grid__paragraph {
              grid-area: paragraph;
              max-width: 288px;
              line-height: 26px;
              padding: 0 8px 0;
              }
              }