.footer__navigation {
    padding: 0;
    width: 100%;
    width: 970px;
    }
    @media screen and (max-width: 325px) {

            .footer__navigation {
            max-width: 186px;
            }

        } 