.places-grid__textbox{
    grid-area: paragraph;
    max-width: 480px;
    width: 100%;
    }

    @media screen and (max-width: 425px) {
            .places-grid__textbox {
            padding-left: 16px;
            padding-right: 16px;
            }
    }