.footer__list{
display: flex;
margin: 0;
}

@media screen and (max-width: 325px) {
            
    .footer__list {
      max-width: 186px;
      flex-direction: column;
      padding-left: 0;
      }
  } 