@import url(./__navigation/footer__navigation.css);
@import url(./__link/footer__link.css);
@import url(./__list-item/footer__list-item.css);
@import url(./__list/footer__list.css);
@import url(./__copyright/footer__copyright.css);
.footer {
    padding-top: 90px;
    width: 100%;
    max-width: 1136px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;

    }
        @media screen and (max-width: 325px) {
            
              .footer {
                max-width: 186px;
                flex-direction: column;
                }
            } 
        @media screen and (max-width: 720px) {
            
                .footer {
                  max-width: 720px;
                  }
              } 
              @media screen and (max-width: 1024px) {
            
                .footer {
                  max-width: 928px;
                  }
              } 
              