@import url(./__row/footer__row.css);
@import url(./__navigation/footer__navigation.css);
@import url(./__link/footer__link.css);
.footer {
    width: 100%;
    padding-top: 90px;
    background-color: #2A2C2F;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    }